
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --first-color: white;
  --second-color: white;
  --white-color: black;
}


:root {
  --body-font: 'Roboto', sans-serif;
  --biggest-font-size: 3.5rem;
  --bigger-font-size: 2.25rem;
  --big-font-size: 1.625rem;
  --normal-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 8rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 2.5rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.938rem;
  }
}


:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 3rem 0 0 0;
  font-family: var(--body-font);
  background-color: var(--white-color);
  color: var(--first-color);
}

h1, h2, h3, p {
  color: #FFF;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
  
}

a {
  text-decoration: none;
  color:red;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--white-color);
}

.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--white-color);
    width: 100%;
    height: 20%;
    padding: 2rem 1rem;
    z-index: var(--z-fixed);
    border-bottom: 1px solid gray;
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.nav__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin-bottom: 1.5rem;
}

.nav__link {
  color: var(--first-color);
}

.nav__link:hover {
  color:red;
}

.nav__logo {
  color: var(--first-color);
  font-weight: 700;
}

.nav__toggle {
  display: inline;
  cursor: pointer;
  margin-right: 1rem;
}

.nav__toggle img {
  width: 1.8rem;
}

.nav__btn {
  background-color: var(--second-color);
  color: var(--white-color);
  padding: 0.375rem 1rem;
  border-radius: 2rem;
}

.show {
  top: 3rem;
}

.home {
  height: calc(100vh - 3rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1.5fr 1fr 1fr;
      grid-template-rows: 1.5fr 1fr 1fr;
      grid-template-areas: "data" "img" "scroll";
  row-gap: 1.5rem;
}

.home__data {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: data;
  text-align: center;
  padding-top: 3.5rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.home__description {
  font-size: var(--normal-font-size);
  padding: 0 1rem;
}

.home__img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__img img {
  width: 81px;
  height: 177px;
  margin-right: 1rem;
}

.home__scroll {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: scroll;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home__scroll-text {
  display: block;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.home__scroll-icon {
  width: 2rem;
}


.airpod1 {
  -webkit-animation: airpod1 3s infinite;
          animation: airpod1 3s infinite;
}

@-webkit-keyframes airpod1 {
  50% {
    -webkit-transform: translatey(-6%);
            transform: translatey(-6%);
  }
}

@keyframes airpod1 {
  50% {
    -webkit-transform: translatey(-6%);
            transform: translatey(-6%);
  }
}

.airpod2 {
  -webkit-animation: airpod2 3s infinite;
          animation: airpod2 3s infinite;
}

@-webkit-keyframes airpod2 {
  50% {
    -webkit-transform: translatey(6%);
            transform: translatey(6%);
  }
}

@keyframes airpod2 {
  50% {
    -webkit-transform: translatey(6%);
            transform: translatey(6%);
  }
}


.details {
  height: calc(100vh - 3rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details__box {
  margin-bottom: 2.5rem;
  text-align: center;
}

.details__initial {
  font-size: var(--smaller-font-size);
}
.details__box1 {
  margin-bottom: 2.5rem;
  text-align:left;
}

.details__initial1 {
  font-size: var(--normal-font-size);
  margin-left: 500px;
  background-color: var(--second-color);
  color: var(--white-color);
  padding: 0.375rem 1rem;
  border-radius: 2rem;
  font-weight: 400;
  font-family:cursive;
}
.details__title {
  font-size: var(--bigger-font-size);
  font-weight: 400;
}

.details__title span {
  font-size: var(--big-font-size);
}

.details__description {
  font-size: var(--normal-font-size);
}

.details__img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.details__img img {
  width: 218px;
}

.airpods {
  -webkit-animation: airpods 0s infinite;
          animation: airpods s infinite;
}

@-webkit-keyframes airpods {
  50% {
    -webkit-transform: translatey(-6%);
            transform: translatey(-6%);
  }
}

@keyframes airpods {
  50% {
    -webkit-transform: translatey(-6%);
            transform: translatey(-6%);
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav {
    height: 4rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .home {
    height: 100vh;
    -ms-grid-columns: min-content;
        grid-template-columns: -webkit-min-content;
        grid-template-columns: min-content;
    -ms-grid-rows: 80% 10%;
        grid-template-rows: 80% 10%;
        grid-template-areas: "data img"
 "scroll scroll";
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .home__data {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: data;
    padding: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: initial;
  }
  .home__description {
    padding: 0 5rem 0 0;
  }
  .home__img {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: img;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .home__img img {
    width: 114px;
    height: 248px;
  }
  .home__scroll {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: scroll;
    padding-bottom: 2rem;
  }
 
  .details {
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .details__box {
    margin-bottom: 2rem;
  }
  .details__img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .details__img img {
    width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend Peta', sans-serif;
    box-sizing: border-box;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}
.contact .content p{
    font-weight: 300;
    color: #ffff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text h3{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(217, 255, 0);
    /* flex-direction: column; */
    font-weight: 500;
}
.container .contactInfo .box .text p{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: 300;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;

}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #ff0000;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

*{
    margin: 0;
    padding: 0;
}

.main_bg{
    background-image: url(background.jpg);
    max-width: 1280px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.form{
    width: 650px;
    
}

.form-text{
    text-align: center;
    margin: 0 0 40px 0;
}
.form-text h1 span img{
    margin: 0 10px;

}
.form-text h1{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    margin-bottom: 20px;
}
.form-text p{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: large;
}

.main-form div{
    margin: 10px 10px;
    width: 300px;
    display: inline-block;
}
.main-form div input {
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #fff;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div select{
    width: 104%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color:white;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div span{
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    color: #fff;
    font-size: 25px;
}

#submit{
    width: 100%;
    text-align: center;
}
#submit input{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: yellow !important;
    color: black !important;
    transition: all .3s;
}
#submit input:hover{
    font-family: 'Akaya Telivigala', cursive;
    width: 200px;
    background-color: black !important;
    color: #fff !important;
}
#submit input:active{
    font-size: 19px;
    background-color: rgb(46, 20, 5) !important;
    color: #fff !important;
}


@media screen and (max-width:710px) {
    .main-form{
        text-align: center;
    }
}